@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
h2 {
  font-size: 38px;
  font-family: 'Inter';
  font-weight: bold;
  line-height: 1.27;
  color: #0b2540; }

.navbar {
  padding-top: 20px;
  padding-bottom: 20px; }
  .navbar a {
    color: #fbfbfb;
    font-size: 16px;
    font-weight: 400;
    transition: 0.33s all; }
    .navbar a:hover {
      color: #0b2540; }
  .navbar .navbar-collapse {
    justify-content: end; }
  .navbar .btn_demo .shedule_btn {
    background-color: #65b9ff;
    padding: 12px 40px 12px 40px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #fbfbfb;
    border-radius: 35px;
    transition: all 0.53s ease;
    margin-left: 25px; }
    .navbar .btn_demo .shedule_btn:hover {
      background-color: #4760ff; }
  .navbar .navbar-nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-items: center; }
    @media (min-width: 320px) and (max-width: 768px) {
      .navbar .navbar-nav {
        align-items: flex-start; } }
    .navbar .navbar-nav .nav-item a {
      margin-left: 30px;
      margin-right: 30px;
      padding: 0 !important; }

.navbar-toggler-icon {
  background: url("../../img/menu_icon.svg") no-repeat !important;
  background-size: 30px 30px !important; }

* {
  color: #0b2540;
  font-family: 'Open Sans', sans-serif; }

@media (min-width: 320px) {
  .container {
    width: 100%; } }

@media (min-width: 990px) {
  .container {
    width: 1125px; } }

@media (min-width: 1920px) {
  .container {
    width: 1140px; } }

.navbar-brand img {
  width: 250px !important; }

.hero {
  background: linear-gradient(-33deg, #3bd6f6 0%, #4760ff 100%);
  height: 100%; }
  .hero .hero-row {
    padding: 120px 25px 120px 25px; }
    .hero .hero-row .left-col {
      align-items: center;
      margin-top: 12%; }
      .hero .hero-row .left-col .heading h1 {
        color: #fbfbfb;
        font-family: Inter;
        font-size: 91px !important;
        font-weight: 600; }
      .hero .hero-row .left-col .text {
        color: #fbfbfb;
        font-family: "Open Sans";
        font-size: 30px;
        font-weight: 400; }
      .hero .hero-row .left-col .btn_block {
        display: flex;
        align-items: center; }
        .hero .hero-row .left-col .btn_block .learn-more {
          font-size: 15px;
          font-weight: 400;
          font-family: "Open Sans";
          background-color: #0b2540;
          padding: 10px 30px 10px 40px;
          color: #fbfbfb;
          border: none;
          border-radius: 30px;
          transition: all 0.33s;
          display: flex;
          align-items: center; }
          .hero .hero-row .left-col .btn_block .learn-more .bx {
            color: #fbfbfb;
            font-size: 22px;
            margin-top: 3px;
            margin-left: 15px; }
          .hero .hero-row .left-col .btn_block .learn-more:hover {
            background-color: transparent; }
        .hero .hero-row .left-col .btn_block .watch-demo {
          font-size: 15px;
          font-weight: 400;
          font-family: "Open Sans";
          background-color: transparent;
          padding: 10px 30px 10px 40px;
          color: #fbfbfb;
          border: none;
          border-radius: 30px;
          display: flex;
          align-items: center;
          transition: all 0.33s;
          margin-left: 30px; }
          .hero .hero-row .left-col .btn_block .watch-demo .bx {
            color: #fbfbfb;
            font-size: 22px;
            margin-top: 3px;
            margin-left: 15px; }
          .hero .hero-row .left-col .btn_block .watch-demo:hover {
            background-color: #0b2540; }
    .hero .hero-row .right-col .block-img {
      width: 100% !important; }
      .hero .hero-row .right-col .block-img img {
        position: absolute;
        width: 885px;
        right: 0;
        top: 13%; }
        @media (max-width: 1919px) {
          .hero .hero-row .right-col .block-img img {
            width: 545px;
            top: 33%; } }
    @media (max-width: 1200px) {
      .hero .hero-row .right-col {
        display: none; } }

/*------------*/
.partners {
  max-width: 1700px;
  margin: auto;
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 150px; }
  .partners .partners-text {
    color: #0b2540;
    font-size: 48px;
    font-weight: 700;
    text-align: center; }
  .partners .image-row ul {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px; }
    @media (max-width: 1024px) {
      .partners .image-row ul {
        display: block !important;
        justify-content: center;
        text-align: center; }
        .partners .image-row ul li {
          margin-top: 15px;
          margin-bottom: 51px; } }
    .partners .image-row ul li {
      list-style: none;
      padding-left: 35px;
      padding-right: 35px; }
      .partners .image-row ul li img {
        width: 162px; }

/*------------*/
.value {
  background-color: #fbfbfb;
  padding-top: 200px;
  padding-bottom: 200px; }
  .value .value-text {
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #0b2540;
    text-align: left;
    margin-top: 35px; }
  .value .img-row .img-block-row {
    margin-top: 100px; }
    .value .img-row .img-block-row img {
      width: 100%; }

/*-------------*/
.highlights {
  background-color: #0b2540;
  padding-top: 210px;
  padding-bottom: 210px; }
  .highlights .header-highlight h2 {
    color: #fbfbfb; }
  .highlights .header-highlight .subtitle {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #adbdcc;
    width: 579px;
    padding-top: 40px;
    padding-bottom: 40px; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .highlights .high_block {
      padding-left: 60px;
      margin-top: 25px;
      margin-bottom: 25px;
      text-align: center; } }
  .highlights .high_block .f_img {
    width: 130px; }
  .highlights .high_block img {
    width: 113px; }
  .highlights .high_block h3 {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fbfbfb;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal; }
  .highlights .high_block p {
    color: #adbdcc;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal; }

/*------------------*/
.cta {
  text-align: center;
  padding-top: 190px;
  padding-bottom: 190px; }
  .cta img {
    width: 603px;
    height: 70px; }
  .cta h2 {
    padding-top: 45px;
    padding-bottom: 45px;
    color: #0b2540;
    font-family: "Open Sans"; }
  .cta .cta_btn {
    background-color: #0b2540;
    border: 4px solid #0b2540;
    border-radius: 35px;
    color: #fbfbfb;
    padding: 9px 30px 9px 30px;
    transition: 0.33s all; }
    .cta .cta_btn:hover {
      background-color: transparent;
      color: #0b2540; }
  .cta p {
    margin: auto;
    max-width: 1150px;
    color: #0b2540;
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    padding-top: 25px;
    padding-bottom: 40px; }

/*-----------*/
.product {
  background-color: #fbfbfd;
  padding-top: 180px;
  padding-bottom: 180px; }
  .product .row {
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center; }
  .product .product-info-col {
    padding-right: 120px; }
    .product .product-info-col h3 {
      color: #00bce8;
      font-family: Inter;
      font-size: 45px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal; }
    .product .product-info-col h2 {
      color: #0b2540;
      margin-top: 30px;
      margin-bottom: 30px; }
    .product .product-info-col p {
      font-family: "Open Sans";
      font-size: 35px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal; }
  .product .product-img-block img {
    text-align: center;
    display: block;
    margin: auto;
    align-items: center;
    width: 691px;
    height: 675px; }

/*---------------*/
.features {
  padding-top: 190px;
  padding-bottom: 190px; }
  .features .features_block {
    padding-left: 30px;
    padding-right: 30px; }
    .features .features_block img {
      width: 300px;
      height: 300px; }
    .features .features_block h3 {
      color: #0b2540;
      font-family: Inter;
      font-size: 48px;
      font-weight: 700;
      font-style: normal;
      letter-spacing: normal;
      padding-top: 45px;
      padding-bottom: 45px; }
    .features .features_block p {
      color: #0b2540;
      font-family: "Open Sans";
      font-size: 35px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal; }

/*----------------*/
.testimonials {
  background-color: #fbfbfd;
  padding-top: 180px;
  padding-bottom: 180px;
  position: relative; }
  .testimonials .divider {
    right: 0;
    left: 49%;
    top: 19%;
    bottom: 0;
    position: absolute;
    width: 2px;
    height: 670px;
    background-color: #f2f2f4; }
  .testimonials .testi_block {
    margin: auto; }
    .testimonials .testi_block img {
      display: block;
      margin: auto;
      text-align: center;
      width: 300px;
      height: auto; }
    .testimonials .testi_block p {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 15px;
      padding-right: 15px;
      color: #0b2540;
      font-family: "Open Sans";
      font-size: 35px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal; }
    .testimonials .testi_block .customer_info {
      display: block;
      width: 300px;
      margin: auto; }
      .testimonials .testi_block .customer_info b {
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: normal; }
      .testimonials .testi_block .customer_info small {
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal; }

/*--------------------*/
.foot {
  background-color: #0b2540;
  padding-top: 80px; }
  .foot .menu {
    margin: auto; }
    .foot .menu .foot_menu {
      list-style: none;
      margin: auto;
      text-align: right; }
      .foot .menu .foot_menu .menu_foot_items {
        padding-top: 5px;
        padding-bottom: 5px; }
        .foot .menu .foot_menu .menu_foot_items a {
          color: #fbfbfb;
          text-decoration: none;
          font-family: "Open Sans";
          font-size: 35px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal; }
  .foot .testing {
    text-align: center; }
    .foot .testing .bx {
      font-size: 30px;
      color: #0b2540;
      background-color: #fbfbfb;
      padding: 6px 7px 9px 7px;
      border-radius: 8px;
      transition: all 0.33s;
      border: 3px solid #fbfbfb; }
      .foot .testing .bx:hover {
        background-color: #0b2540;
        color: #fbfbfb;
        border: #fbfbfb; }
  .foot .rules {
    padding-top: 100px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal; }
    .foot .rules li {
      list-style: none;
      color: #fbfbfb;
      margin-right: 10px;
      margin-left: 10px; }
      .foot .rules li a {
        color: #fbfbfb;
        text-decoration: none; }

/*# sourceMappingURL=main.css.map */
